{% extends 'base.html' %}
{% block content %}
<style>
	h1{
		text-align: center;
	}
</style>
<h1>What is decent work</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			  <img class="card-img-top" src="https://media.istockphoto.com/id/1319763415/photo/african-mid-woman-using-smartphone-at-home.jpg?s=612x612&w=0&k=20&c=vSYvylj1ykCwdIZ5ZHg0R2-NEzCXDkNjgBA2CPBVtDM=" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"></h5>
			    <p class="card-text">The International Labour Organization (ILO) defines decent work as “productive work for women and men in conditions of freedom, equity, security and human dignity”.

                    In general, work is considered as decent when:
                    <br>
                    <br>
                    
                    
                    it pays a fair income
                    <br>
                    it guarantees a secure form of employment and safe working conditions
                    <br>
                    it ensures equal opportunities and treatment for all
                    <br>
                    it includes social protection for the workers and their families
                    <br>
                    it offers prospects for personal development and encourages social integration
                    workers are free to express their concerns and to organise</p>
			    
			  </div>
			</div>
		</div>


{% endblock  %}