{% extends 'base.html' %}
{% block content %}
<style>
	h1{
		text-align: center;
	}
</style>
<h1>Advantages of using phone</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			  <img class="card-img-top" src="https://media.istockphoto.com/id/1319763415/photo/african-mid-woman-using-smartphone-at-home.jpg?s=612x612&w=0&k=20&c=vSYvylj1ykCwdIZ5ZHg0R2-NEzCXDkNjgBA2CPBVtDM=" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Easy communication</h5>
			    <p class="card-text">Mobile made communication easier, as just by pressing some keys on mobile, we can contact our friends, family members or colleagues, and others at any time. Mobile also gives us a facility to contact our fellow person with voice calls, video calls, text messages, recorded calls, and many more.</p>
			    
			  </div>
			</div>
		</div>


{% endblock  %}